.admin-panel {
  margin-top: 120px;
  padding: 40px 20px;
  background: #0e110d; 
}

.admin-container {
  max-width: 1000px;
  margin: auto;
  background: #1f2120;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px #0e110d;
}

.admin-section {
  margin-bottom: 40px;
}

.admin-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th, .admin-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.btn-edit,
.btn-delete {
  padding: 6px 12px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  margin-right: 8px;
}

.btn-edit {
  background-color: #198754;
}

.btn-delete {
  background-color: #dc3545;
}

.btn-primary {
  display: inline-block;
  padding: 10px 18px;
  background-color: #0d6efd;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}





  .form-control, .form-control:focus, .form-select {
    background-color: #ddd !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;
  }

  .form-control::placeholder {
    color: rgb(143, 142, 142);
  }

  label {
    color: #ddd;
  }

  input[type="file"] {
    background-color: #198754 !important;
    color: #ddd !important;
  }

  .tox-tinymce {
    border: 1px solid #ddd !important;
  }

  .tox-editor-header,
  .tox-toolbar,
  .tox-statusbar,
  .tox .tox-edit-area__iframe {
    background-color: #ddd !important;
    
  }