.container-team {
    max-width: 900px;
    margin: 180px auto 50px auto; /* Aumenté el margen superior a 80px */
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2{ 
    margin: 5px 0;
    text-align: center;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* 3 columnas flexibles */
    gap: 20px; /* Espacio entre los cuadros */
    justify-content: center;
    max-width: 900px; /* Limitar el ancho del contenedor */
    margin: auto; /* Centrar */
}

.member {
    background: #e3f2fd;
    padding: 20px; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto; /* Dejar que el grid controle el ancho */
    height: 200px; /* Mantener la altura */
}


.member img {
    width: 120px; /* Imagen más grande */
    height: 120px;
}

.member h3 {
    margin: 5px 0;
    color: #007acc;
}
.member p {
    font-size: 14px;
    color: #555;
}

button {
    display: block;
    margin: 20px auto; /* Centra horizontalmente */
    padding: 15px 30px;
    font-size: 16px;
    background: #278257;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

